In [1]:
from sql_conn import *
import pandas as pd

In [2]:
sc = SqlConn()

creating database mylocalDB.db...

In [3]:
sc.query("""
        select CURRENT_TIME, CURRENT_DATE, CURRENT_TIMESTAMP
""")

  CURRENT_TIME CURRENT_DATE    CURRENT_TIMESTAMP
0     21:23:49   2020-09-27  2020-09-27 21:23:49

In [4]:
sc.query("""
        select date('2018-12-01')
""")

  date('2018-12-01')
0         2018-12-01

In [6]:
cols=  ['rule' , 'attribute' ]
data = [
['rule5',  'attri5'],
['rule2',  'attri1'],
['rule1',  'attri1'],
['rule1',  'attri2'],
['rule2',  'attri2'],
['rule1',  'attri1'],
['rule3',  'attri3'],
['rule2',  'attri1'],
['rule1',  'attri1']
]
df = pd.DataFrame(data, columns=cols)

In [7]:
sc.upload(df, "tabx")

In [8]:
sc.query("select * from tabx")

    rule attribute
0  rule5    attri5
1  rule2    attri1
2  rule1    attri1
3  rule1    attri2
4  rule2    attri2
5  rule1    attri1
6  rule3    attri3
7  rule2    attri1
8  rule1    attri1

In [9]:
sc.query("""
        select           
          *,
          ROW_NUMBER () OVER ( 
          PARTITION BY rule
          order by rule, attribute
         )  as  rule_count          
         
        from tabx     
""")

    rule attribute  rule_count
0  rule1    attri1           1
1  rule1    attri1           2
2  rule1    attri1           3
3  rule1    attri2           4
4  rule2    attri1           1
5  rule2    attri1           2
6  rule2    attri2           3
7  rule3    attri3           1
8  rule5    attri5           1

In [10]:
sc.query("""

      select * from
      (
        select           
          *,
          ROW_NUMBER () OVER ( 
          PARTITION BY rule
          order by rule, attribute
         )  as  rule_count          
         
        from tabx     
      )
      where rule_count=1
""")

    rule attribute  rule_count
0  rule1    attri1           1
1  rule2    attri1           1
2  rule3    attri3           1
3  rule5    attri5           1

In [11]:
sc.quit()

database connection successfully closed
deleting databse mylocalDB.db...