In [34]:
from sql_conn import *

In [35]:
sc = SqlConn()

In [31]:
sc.query("""
        select CURRENT_TIME, CURRENT_DATE, CURRENT_TIMESTAMP
""")

  CURRENT_TIME CURRENT_DATE    CURRENT_TIMESTAMP
0     22:33:42   2020-09-29  2020-09-29 22:33:42

In [5]:
sc.query("""
        select date('2018-12-01')
""")

  date('2018-12-01')
0         2018-12-01

In [26]:
df = pd.read_pickle("data/AlleghenyCountyPropertySaleTransactions.pkl", compression='bz2')

In [36]:
sc.upload(df,"property_sale")

In [37]:
sc.query("""select PROPERTYCITY, count(*) as cnt from property_sale  group by 1 """)

    PROPERTYCITY   cnt
0           None     1
1   ALLISON PARK  4635
2       AMBRIDGE   220
3      ASPINWALL     2
4          BADEN   191
..           ...   ...
94     WEST VIEW     1
95       WEXFORD  6056
96     WHITE OAK     1
97    WILMERDING   492
98       WITAKER     1

[99 rows x 2 columns]

In [8]:
sc.query("select * from tabx")

    rule attribute
0  rule5    attri5
1  rule2    attri1
2  rule1    attri1
3  rule1    attri2
4  rule2    attri2
5  rule1    attri1
6  rule3    attri3
7  rule2    attri1
8  rule1    attri1

In [9]:
sc.query("""
        select           
          *,
          ROW_NUMBER () OVER ( 
          PARTITION BY rule
          order by rule, attribute
         )  as  rule_count          
         
        from tabx     
""")

    rule attribute  rule_count
0  rule1    attri1           1
1  rule1    attri1           2
2  rule1    attri1           3
3  rule1    attri2           4
4  rule2    attri1           1
5  rule2    attri1           2
6  rule2    attri2           3
7  rule3    attri3           1
8  rule5    attri5           1

In [10]:
sc.query("""

      select * from
      (
        select           
          *,
          ROW_NUMBER () OVER ( 
          PARTITION BY rule
          order by rule, attribute
         )  as  rule_count          
         
        from tabx     
      )
      where rule_count=1
""")

    rule attribute  rule_count
0  rule1    attri1           1
1  rule2    attri1           1
2  rule3    attri3           1
3  rule5    attri5           1

In [11]:
sc.quit()

database connection successfully closed
deleting database None...

TypeError: remove: path should be string, bytes or os.PathLike, not NoneType